
.row {
  display: flex;
}

.header-container {
  background-color: #007bff;
}

h1 {
  justify-content: center;
}

.nav {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.add-fav {
  color: red;
  line-height: 24px;
  padding: 1rem;
  cursor: pointer;
}

.row-btn {
  display: flex;
  justify-content: end;
}

ul {
  list-style: none;
}

.breed-fav {
  display: flex;
}

.fav-breed {
  text-align: center;
  margin: -2rem;
}

i {
  float: right;
  cursor: pointer;
}

.modal-button {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

#yes-btn {
  border: none;
  color: red;
  background-color: white;
  cursor: pointer;
}

#no-btn {
  border: none;
  color: red;
  background-color: white;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  border-radius: 7px;
  text-align: center;
}

.show {
  display: block !important;
}

.add-btn {
  border: none;
  color: red;
  background-color: white;
  cursor: pointer;
}

li {
  margin: 2rem;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  padding: 5.5rem;
  margin: 2rem;
}

.inputComment {
  font-style: italic;
}

h4 {
  margin: 1rem;
}

h5,
h4,
h3 {
  font-size: 1.25rem;
}

.breed-select {
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}
