.header-row {
  color: white;
  padding: 8px 16px;
}

.row {
  display: flex;
}

header {
  background-color: #007bff;
}

h1 {
  justify-content: center;
}

.add-fav {
  color: red;
  line-height: 24px;
  padding: 1rem;
}

.row-btn {
  display: flex;
  justify-content: end;
}

ul {
  list-style: none;
}

.breed-fav {
  display: flex;
}

.fav-breed {
  text-align: center;
}
